
td,th{
    z-index: 0;
    vertical-align:top; 
    border: 1px solid black;
    height: 40px;
    min-width: 100px;
    text-align: left;
    align-items: center;
    background-color: grey;
    font-weight: 200;
    color:white;
}
th{
    background-color: #657D95;
    z-index: 2;
    position: sticky;
    top: 0;
}
table{
    border-spacing: 0px;
}